<div class="row">
  <div class="small-6 columns paper-bg">Planche ici!</div>
  <div class="small-6 columns darkleather-bg">
  	<h1>Données descriptives</h1>
  	<p><%= @specimen.id %></p>
  	<p><%= @specimen.scan_num %></p>
	<p><%= @specimen.taxon %></p>
  </div>
</div>

