<div class="row paper-bg" style="height: 100vh;">
  <div class="small-6 columns paper-bg">Planche ici!</div>
  <div class="small-6 columns darkleather-bg">
  	<h1>Données descriptives</h1>
	<p>Ici</p>
  </div>
</div>

