/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 @font-face {
    font-family: 'birds_of_paradiseregular';
    src: url('birds_of_paradise__personal_use_only-webfont.woff2') format('woff2'),
         url('birds_of_paradise__personal_use_only-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

 .app-bar {
  color: white;
  width: 100%;
  height: 90px;
  background: rgba(0, 0, 0, 0.85);
  position:fixed;
  top: 0;
  transition: box-shadow 0.2s;
}
.app-bar-scrolled {
  box-shadow: 0 10px 8px -8px rgba(0,0,0,.7);
}

 #sheet{
  height: 100%;
  margin: 0;
}
#map {
	height: 40vh;
	width: 100%;
}

.paper-bg {
	height: 60vh;
	background: image-url('paper-bg.png') repeat;
}
.herbarium-sheet {
	height: 100vh;
	background-color: grey;
}


 .darkleather-bg {
 	height: 400px;
	background: image-url('reddark_leather.png') repeat;
	color:  #f8c43a;
 }
